
{{> inc/htmlHeader}}

{{> inc/nav}}



<div class="container">
<table class="table">
  <thead class="thead-light">
    <tr>
   	  <th scope="col">#</th>
      <th scope="col">제목</th>
      <th scope="col">작성자</th>
      <th scope="col">작성일</th>
    </tr>
  </thead>
  <tbody>
    {{#notices}}
    <tr>
      <th scope="row">{{noticeId}}</th>
      <td><string class="subject"><a href="/notice/{{noticeId}}">{{title}}</a></string></td>
      <td>{{writer}} (운영자)</td>
      <td>{{formattedCreatedDate}}</td>
    </tr>
    {{/notices}}
  </tbody>
</table>
</div>


{{> inc/htmlFooter}}

