
{{> inc/htmlHeader}}

{{> inc/nav}}



<div class="container">
<table class="table">
  <thead class="thead-light">
    <tr>
   	  <th scope="col">#</th>
      <th scope="col">제목</th>
      <th scope="col">작성자</th>
      <th scope="col">작성일</th>
    </tr>
  </thead>
  <tbody>
    {{#questions}}
    <tr>
      <th scope="row">{{questionId}}</th>
      <td><string class="subject"><a href="/questions/{{questionId}}">{{title}}</a></string></td>
      <td>{{writer.name}} ({{writer.email}})</td>
      <td>{{formattedCreatedDate}}</td>
    </tr>
    {{/questions}}
  </tbody>
</table>
</div>


{{> inc/htmlFooter}}

