
{{> inc/htmlHeader}}

{{> inc/nav}}

<div class="container">
  <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
    {{#question}}
    <div class="questionDetail panel panel-default content-main">
    	<header class="header">
    		<h3>{{title}}</h3>
    	</header>
    	<div class="col-md-6">작성자 {{writer.name}} ({{formattedCreatedDate}})</div>
		<article class="article">
		  <div class="form-group col-md-6">
		    <article name="content" id="content" rows="5" class="form-control">{{content}}</article>
		  </div>
		</article>
		  <a href="/questions/{{questionId}}/form" class="btn btn-success" role="button">수정하기</a>
		  <form action="/questions/{{questionId}}" method="post">
		    <input value="delete" name="_method" type="hidden">
		  	<button type="submit" class="btn btn-fail">삭제</button>
		  </form>
		  <a href="/questions/list" class="btn btn-success" role="button">목록으로</a>
	</div>
	{{#answers}}
	<div class="panel panel-default content-main">
		<article class="article">
	    	<div class="col-md-6">작성자 : {{writer.name}} ({{formattedCreatedDate}})</div>
		  <div class="form-group col-md-6">
		    <article name="content" id="content" rows="5" class="form-control">{{content}}</article>
		  </div>
		</article>
	</div>
	{{/answers}}
		<form class="answer-create" action="/api/questions/{{questionId}}/answers" method="post">
		  <div class="form-group col-md-6">
		    <label for="content">답변 내용</label>
		    <textarea name="content" id="content" rows="5" class="form-control"></textarea>
		  </div>
		  <input type="submit" class="btn btn-success" value="답변 등록"/>
		  <!-- <div class="clearfix"/> -->
		</form>
	{{/question}}
  </div>	
</div>


<script type="text/template" id="answerTemplate">
	<div class="panel panel-default content-main">
		<article class="article">
	    	<div class="col-md-6">작성자 : {0} ({1})</div>
		  <div class="form-group col-md-6">
		    <article name="content" id="content" rows="5" class="form-control">{3}</article>
		  </div>
		</article>
	</div>	
</script>


{{> inc/htmlFooter}}

