
{{> inc/htmlHeader}}

{{> inc/nav}}



<div class="container">
<table class="table">
  <thead class="thead-dark">
    <tr>
   	  <th scope="col">#</th>
      <th scope="col">아이디</th>
      <th scope="col">비밀번호</th>
      <th scope="col">이름</th>
      <th scope="col">휴대폰 번호</th>
      <th scope="col">주소</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#members}}
    <tr>
      <th scope="row">{{memberId}}</th>
      <td>{{email}}</td>
      <td>{{pwd}}</td>
      <td>{{name}}</td>
      <td>{{phone}}</td>
      <td>{{address}}</td>
      <td><a href="/members/{{memberId}}/info" class="btn btn-success" role="button">회원정보 수정</a>
    </tr>
    {{/members}}
  </tbody>
</table>
</div>


{{> inc/htmlFooter}}

